<div xmlns:th="http://www.thymeleaf.org">
	<div class="nghiane">
<footer>
     <div class="container">
         <!--Bắt Đầu Nội Dung Giới Thiệu-->
         <div class="noi-dung about">
             <h2>Về Chúng Tôi</h2>
             <ul class="social-icon">
                 <li><a href="https://www.facebook.com/hoangtu.nguyen.5494360"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="https://giaiphapseo.com/mang-xa-hoi-instagram-la-gi/"><i class="fa fa-instagram"></i></a></li>
                 <li><a href="https://www.youtube.com/results?search_query=c%C3%A1ch+%C4%91%E1%BB%83+hi%E1%BB%83u+r%C3%B5+v%E1%BB%81+shop+th%E1%BB%9Di+trang"><i class="fa fa-youtube"></i></a></li>
             </ul>
         </div>
         <!--Kết Thúc Nội Dung Giới Thiệu-->
         <!--Bắt Đầu Nội Dung Đường Dẫn-->
         <div class="noi-dung links">
             <h2>Đường Dẫn</h2>
             <ul>
                 <li><a href="/index">Trang Chủ</a></li>
                 <li><a href="/gioithieu">Về Chúng Tôi</a></li>
                 <li><a href="/lienhe">Thông Tin Liên Lạc</a></li>
                 <li><a href="/product/list">Dịch Vụ</a></li>
             </ul>
         </div>
         <!--Kết Thúc Nội Dung Đường Dẫn-->
         <!--Bắt Đâu Nội Dung Liên Hệ-->
         <div class="noi-dung contact">
             <h2>Thông Tin Liên Hệ</h2>
             <ul class="info">
                 <li>
                     <span><i class="fa fa-map-marker"></i></span>
                     <span>Đ. 3/2 <br />
                         Xuân Khánh, Ninh Kiều<br />
                          Cần Thơ</span>
                 </li>
                 <li>
                     <span><i class="fa fa-phone"></i></span>
                     <p><a href="tel:0378269151">+84 378 269 151</a>
                         <br />
                         <a href="tel:0853244830">+84 853 244 830</a></p>
                 </li>
                 <li>
                     <span><i class="fa fa-envelope"></i></span>
                     <p><a href="mailto:nguyenhoangtu13062001@gmail.com">nguyenhoangtu13062001@gmail.com</a></p>
                </li>
             </ul>
         </div>
         <!--Kết Thúc Nội Dung Liên Hệ-->
     </div>
 </footer>
 </div>

</div>
