<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index1 :: dynamic(~{::main})}">


<body>
<main>
<div class = "tongquat">
 <!-- <div class="panel-body">
	
	  <div class="gthieu">
		
			<li>
		</div>
	</div> -->
	
<section>
<div class = "st">

            <div class = "noidunggt">
 <marquee id="marq" scrollamount="25" direction="left" loop="50" scrolldelay="0" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
<a href="/product/detail/1001"><img src="assets/images/1001.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
<a href="/product/detail/1003"><img src="assets/images/1003.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
<a href="/product/detail/1005"><img src="assets/images/1005.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
<a href="/product/detail/1008"><img src="assets/images/1008.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
<a href="/product/detail/1010"><img src="assets/images/1010.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
<a href="/product/detail/1012"><img src="assets/images/1012.jpg" title="Ghi chú cho ảnh" width="300" height="400"/> </a>
</marquee>
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <h1>Chào mừng bạn đến với SHOP THỜI TRANG LUCKY MAN</h1><br>
                <p>
		
				&nbsp;-Thời trang LUCKY MAN cung cấp cho bạn các sản phẩm về thời
				trang – làm đẹp với giá thành luôn ở mức cạnh tranh nhất và chất
				lượng là Thương hiệu. Các sản phẩm mà chúng tôi cung cấp bao gồm :<br>
					&nbsp;&nbsp;&nbsp;+Thời trang nữ : Áo quần – Giày dép – Ba lô, túi xách – Phụ
				kiện<br>
			&nbsp;&nbsp;&nbsp;+Thời trang nam : Áo quần – Giày dép – Phụ kiện<br>

			&nbsp;1/ Tiêu chí hoạt động :<br>
				&nbsp;&nbsp;Đem đến cho khách hàng những sản phẩm về thời trang – làm
				đẹp mới nhất, hợp xu hướng với chất lượng tốt nhất và giá thành cạnh
				tranh nhất.<br>
			&nbsp;2/ Thái độ phục vụ :<br>
			&nbsp;&nbsp;&nbsp;Thời trang LUCKY MAN luôn đề cao thái độ phục vụ quý khách
				hàng lên hàng đầu, vì thế mà các nhân viên của chúng tôi luôn được
				đào tạo các kỹ năng bán hàng chuyên nghiệp, với mong muốn sẽ đem đến
				cho khách hàng một trải nghiệm mua sắm tốt nhất.<br>
			&nbsp;3/ Chất lượng sản phẩm :<br>
			&nbsp;&nbsp;&nbsp;LUCKY luôn cam kết 100% các sản phẩm tại SHOP là hàng chính
				hãng. Chúng tôi sẽ bồi hoàn 200% giá trị sản phẩm nền khách hàng
				phát hiện sản phẩm nhận được là hàng giả , hàng nhái.<br>
&nbsp;&nbsp;&nbsp;Thời trang LUCKY MAN sẽ luôn nỗ lực phấn đấu và đổi mới về
				chất lượng – mẫu mã – cung cách phục vụ , để đem đến cho quý khách
				hàng những phút giây mua sắm thật thú vị !<br>
			Thời trang LUCKY MAN xin gửi đến quý khách hàng lời tri ân
				sâu sắc , cảm ơn quý khách đã đồng hành và ủng hộ LUCKY trong thời gian
				qua . Kính chúc quý khách hàng luôn vui tươi , trẻ đẹp , và hãy ghé
				shop thường xuyên để chọn cho mình những bộ trang phục đẹp nhất nhé
				!</p>
                <ul class = "duongdancactrang">
                    <div class = "vertical-line"></div>
                    <li><a href = "/product/list">product</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/lienhe">contact</a></li>
                </ul>
                <ul class = "mxh">
                    <li>
                        <a href="https://www.facebook.com/hoangtu.nguyen.5494360" class = "fa fa-facebook" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nhutbaol/" target="_blank" class = "fa fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nguyen-hoang-tu-213b4b220/"  target ="_blank" class="fa fa-linkedin"></a>
                    </li>
                </ul>
            </div>
            </div>
        </section><br><br>
</main>
</body>
</html>